<div class="container">
    <p-card header="Datos del Àlbum" [style]="{width: '360px'}">
        <br>
        <div>
            <span class="ui-float-label">
                <input id="float-input" [(ngModel)]="newalbum.nombre" type="text" size="30" pInputText> 
                <label for="float-input">Nombre del Àlbum</label>
            </span><br>
            <label>Nombre del Artista</label>
            <span class="ui-float-label">
                         <select [(ngModel)]="newalbum.artista" class="form-control" id="artista">
                            <option *ngFor="let artista of artistas">{{artista.nombre}}</option>
                        </select>
            </span><br>
            <span class="ui-float-label">
                <input id="float-input" [(ngModel)]="newalbum.anio" type="number"  size="30" pInputText> 
                <label for="float-input">Año</label>
            </span><br>
        </div>
        <br>
        <label>Seleccione la Imagen del Album:</label> <br><br>
        <input accept="image" (change)="onChange($event)" type="file">
        <br>
        <br>
        <div>
            <button pButton type="button" label="Guardar" (click)="guardarS3()"></button>
        </div>


        <div *ngIf="cargando === false">
            <p-progressSpinner></p-progressSpinner>
            <p>Subiendo</p>

        </div>
        <div *ngIf="cargando === true">
            <ng-template #mensaje>
                <p-messages [(value)]="msgs"></p-messages>
            </ng-template>
        </div>

    </p-card>
</div>