<div class="container">
    <p-card header="Datos del Artista" [style]="{width: '360px'}">
        <br>
        <div>
            <span class="ui-float-label">
                <input id="float-input" [(ngModel)]="newartista.nombre" type="text" size="30" pInputText> 
                <label for="float-input">Nombre del Artista</label>
            </span>
        </div>
        <br>
        <br>
        <label>Seleccione una Imagen del Artista:</label> <br><br>
        <input accept="image" (change)="onChange($event)" type="file">
        <br>
        <br>
        <div>
            <button pButton type="button" label="Guardar" (click)="guardarS3()"></button>
        </div>

        <div *ngIf="cargando === false">
            <p-progressSpinner></p-progressSpinner>
            <p>Subiendo</p>

        </div>

    </p-card>
</div>