<div class="container-fluid">
    <div class="col">
        <div class="row">
            <h1>AudiPro</h1>

            <p-card header="Datos de la canción" [style]="{width: '360px'}">
                <br>
                <div>
                    <span class="ui-float-label">
                        <input id="float-input" [(ngModel)]="newaudio.nombre" type="text" size="30" pInputText> 
                        <label for="float-input">Nombre de la Canción</label>
                    </span>
                    <br>
                    <span class="ui-float-label">
                        <input id="float-input" [(ngModel)]="newaudio.autor" type="text" size="30" pInputText> 
                        <label for="float-input">Autor</label>
                    </span><br>
                    <span class="ui-float-label">
                        <input id="float-input" [(ngModel)]="newaudio.anio" type="number" size="30" pInputText> 
                        <label for="float-input">Año</label>
                    </span>
                    <br>
                    <span class="ui-float-label">
                        <input id="float-input" [(ngModel)]="newaudio.album" type="text" size="30" pInputText> 
                        <label for="float-input">Albúm</label>
                    </span>
                    <br>
                    <span class="ui-float-label">
                        <input id="float-input" [(ngModel)]="newaudio.genero" type="text" size="30" pInputText> 
                        <label for="float-input">Género</label>
                    </span>
                    <br>
                    <label>Seleccione una Canción:</label> <br><br>
                    <input accept=".mp3" (change)="onChange($event)" type="file" >
                <br>
                    
                </div>
                <br>
                <div>
                    <button pButton type="button" label="Guardar" (click)="guardarS3()" ></button>
                </div>
            </p-card>

        </div>
    </div>
</div>