<div class="container-fluid">
    <div class="col">
        <h1>AudiPro</h1>

    </div>
    <div class="col" style="justify-content: center;">
        <div class="row">

            <p-card header="Datos de la canción" [style]="{width: '360px'}">
                <br>
                <div>
                    <span class="ui-float-label">
                        <input id="float-input" [(ngModel)]="newaudio.nombre" type="text" size="30" pInputText> 
                        <label for="float-input">Nombre de la Canción</label>
                    </span>
                    <br>
                    <span class="ui-float-label">
                        <p-dropdown [options]="artista" [(ngModel)]="newaudio.autor"  size="30"></p-dropdown>
                        <label for="float-input">Autor</label>
                    </span>

                    <br>
                    <span class="ui-float-label">
                        <input id="float-input" [(ngModel)]="newaudio.anio" type="number" size="30" pInputText> 
                        <label for="float-input">Año</label>
                    </span>
                    <br>
                    <span class="ui-float-label">
                        <p-dropdown [options]="artista" [(ngModel)]="newaudio.album"  size="30"></p-dropdown>
                        <label for="float-input">Albúm</label>
                    </span>

                    <br>
                    <span class="ui-float-label">
                        <input id="float-input" [(ngModel)]="newaudio.genero" type="text" size="30" pInputText> 
                        <label for="float-input">Género</label>
                    </span>
                    <br>


                    <br>
                    <label>Seleccione una Canción:</label> <br><br>
                    <input accept=".mp3" (change)="onChange($event)" type="file">
                    <br>

                </div>
                <br>
                <div>
                    <button pButton type="button" label="Guardar" (click)="guardarS3()"></button>
                </div>



                <div *ngIf="cargando === false">
                    <p-progressSpinner></p-progressSpinner>
                    <p>Subiendo</p>

                </div>
                <div *ngIf="cargando === true">
                    <ng-template #mensaje>
                        <p-messages [(value)]="msgs"></p-messages>
                    </ng-template>
                </div>

            </p-card>

        </div>
    </div>
</div>