<div class="container">
    <p-carousel [value]="audios" [numVisible]="3" [numScroll]="3" [circular]="false">
        <p-header>
            <h3>Lista de Canciones</h3>
        </p-header>
        <ng-template let-allaudios pTemplate="item">
            <div class="audio-details">
                <div class="p-grid p-nogutter">
                    <div class="p-col-12">
                        <img src="{{path}}/albums/{{allaudios.album}}.jpg" width="250" height="250" />
                    </div>
                    <div class="p-col-12 audio-data">
                        <div class="audio-subtitle">{{allaudios.nombre}}</div>
                        <div class="audio-subtitle">{{allaudios.album}} | {{allaudios.autor}}</div>
                        <div class="audio-buttons">
                            <br>
                            <audio src="{{path}}/canciones/{{allaudios.nombre}}.mp3" controls=""></audio>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>